/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


//
// General configuration options
//

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/Reports" },
            mode: params.publish_dir_mode
        ]
    }
}

//
// Reporting options
//

process {

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*{html,zip}"
        ]
    }


    withName: HS1    {
        ext.args   = 'pre_collapse'
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/picard_hs_metrics" },
            mode: params.publish_dir_mode,
            pattern: "*txt"
        ]
    }

    withName: HS2    {
        ext.args   = 'post_collapse'
        ext.args2  = "VALIDATION_STRINGENCY=SILENT"
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/picard_hs_metrics" },
            mode: params.publish_dir_mode,
            pattern: "*txt"
        ]
    }

    withName: ER1    {
        ext.args   = 'pre_collapse'
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/fgbio_error_rate" },
            mode: params.publish_dir_mode,
            pattern: "*txt"
        ]
    }

    withName: ER2    {
        ext.args   = 'post_collapse'
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/fgbio_error_rate" },
            mode: params.publish_dir_mode,
            pattern: "*txt"
        ]
    }

    withName: PICARD_ESTIMATELIBRARYCOMPLEXITY {
        ext.when   = { !params.skip_estimate_complexity }
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/picard_estimate_complexity" },
            mode: params.publish_dir_mode,
            pattern: "*txt"
        ]
    }

    withName: PICARD_MARKADAPTERS {
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/picard_mark_adapters" },
            mode: params.publish_dir_mode,
            pattern: '*metrics'
        ]
    }

    withName: QUALIMAP_BAMQC {
        publishDir = [
        path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/bamqc" },
        mode: params.publish_dir_mode
        ]
    }

    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        ext.args   = { params.insertsizemetrics ? "${params.insertsizemetrics}" : "1000" }
        publishDir = [
                path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/picard_insert_size" },
                mode: params.publish_dir_mode,
                pattern: '*txt'
        ]
    }
}

//
//  Output options
//

process {

    withName: PICARD_UMIMARKDUPLICATES {
        ext.args   = "VALIDATION_STRINGENCY=SILENT"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/processed/bam" },
                mode: params.publish_dir_mode,
                pattern: '*{bam,bai}'
            ],
            [
                path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/picard_mark_duplicates" },
                mode: params.publish_dir_mode,
                pattern: '*metrics'
            ]
        ]
    }


    withName: FGBIO_GROUPREADSBYUMI {
        ext.args   = { params.group_reads_strategy ? "-s ${params.group_reads_strategy}" : "-s adjacency"}
        publishDir = [
            path: { "${params.outdir}/${meta.patient}/${meta.patient}_${meta.sample}/${params.experiment}/reports/fgbio_group_reads" },
            mode: params.publish_dir_mode,
            pattern: '*_umi_histogram.txt'
        ]
    }

    withName: FGBIO_CALLMOLECULARCONSENSUSREADS {
        ext.args   = { params.consensus_min_reads ? "--min-reads ${params.consensus_min_reads}" : "--min-reads 1" }
        publishDir = [
            enabled: false
        ]
    }

    withName: FGBIO_FILTERCONSENSUSREADS {
// use default minimum reads filter of 1 or take minimum reads from parameters.
        ext.args   = { params.filter_min_reads ? "--min-reads ${params.filter_min_reads}" : "--min-reads 1" }
        publishDir = [
            enabled: false
        ]
    }

    withName: B2FQ1 {
        publishDir = [
            enabled: false
        ]
    }

    withName: B2FQ2 {
        ext.args   = "VALIDATION_STRINGENCY=SILENT"
        publishDir = [
            enabled: false
        ]
    }

    withName: BM1 {
        ext.args = '-K 100000000 -M'
		publishDir = [
            enabled: false
        ]
    }

    withName: BM2 {
        ext.args = '-K 100000000 -M'
        publishDir = [
            enabled: false
        ]
    }

    withName: PMB1 {
        ext.prefix = { ( "${meta.numLanes}".toInteger() > 1) ? "${meta.id}_pre_collapse" : "${meta.patient}_${meta.sample}_pre_collapse"}
        publishDir = [
            enabled: false
        ]
    }

    withName: PMB2 {
        ext.args   = "VALIDATION_STRINGENCY=SILENT"
        ext.prefix = { "${meta.id}_post_collapse" }
        publishDir = [
            enabled: false
        ]
    }

    withName: PICARD_BED_TO_INTERVAL_LIST {
        publishDir = [
            enabled: false
        ]
    }

    withName: FGBIO_FASTQTOBAM {
        publishDir = [
            enabled: false
        ]
    }

    withName: SAMBAMBA_MERGE {
        publishDir = [
            enabled: false
        ]
    }

    withName: ALIGNED_SORT {
        publishDir = [
            enabled: false
        ]
    }

    withName: UNALIGNED_SORT {
        publishDir = [
            enabled: false
        ]
    }
}
